<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Geolocation</title>
</head>

<body>
  <h3>Tracking your position...</h3>
  <!-- <input type="text" id="lat">
  <input type="text" id="lng">
  <button onclick="changePosition()">Click</button> -->
  <script>
    const httpGet = (url, success) => {
      const http = new XMLHttpRequest();
      http.open('GET', url, true);
      http.onreadystatechange = () => {
        if (http.status === 0) {
          console.log('Can\'t connect to the server...');
        } else if (http.readyState === 4 && http.status === 200) {
          success(http.response);
        }
      };
      http.send();
    }

    const getPosition = () => {
      navigator.geolocation.getCurrentPosition(data => {
        httpGet(`https://9d199c6c.ngrok.io/coords?lat=${data.coords.latitude}&lng=${data.coords.longitude}`, () => {
          console.log(1);
        });
      });
    }

    const changePosition = () => {
      console.log(1);
      let latitude = document.getElementById('lat').value;
      let longitude = document.getElementById('lng').value;
      httpGet(`https://9d199c6c.ngrok.io/coords?lat=${latitude}&lng=${longitude}`, () => { });
    }

    setInterval(getPosition, 1000);
  </script>
</body>

</html>